.cvbtn {
  background-color: #661282;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cvbtn:hover {
  background-color: #9522bc;
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.portfolio-item {
  display: inline-block;
  margin: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 768px) {
  .portfolio-item {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .cvbtn {
    text-align: center;
  }
}
@media screen and (max-width: 2000px) {
  .cvbtn {
    position: relative;
    left: 270px;
  }
}
@media screen and (max-width: 1024px) {
  .cvbtn {
    position: relative;
    left: 70px;
  }
}
@media screen and (max-width: 720px) {
  .cvbtn {
    position: relative;
    left: 10px;
  }
}
@media screen and (max-width: 100px) {
  .cvbtn {
    position: relative;
    top: 100px;
  }
}
